.navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0px 70px 0px 70px;
    align-items: center;
    background-color: #006639;
    color: white;
}
.signuplogin{
    border: 2.5px solid white;
    padding:  4px 7px 4px 7px;
    color: white;
    border-radius: 50px;
}
.signuplogin:hover{
    cursor: pointer;
    background-color: rgb(68, 68, 68);
    
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 426px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: 100%;
        padding: 0px 30px 0px 30px;
        align-items: center;
        /* background-color: #006639; */
        background-color: #006639;
        color: white;
    }
    

}
